.nav_name{
  display: flex;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
hr{
  border-bottom: 1px solid #1b1b1b;
  margin: 0;
}
.nav-menu a{
  font-family: 'Baloo Bhai', cursive;
}
#header #logo h1{
  font-family: 'Baloo Bhai', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#body {
  margin-top: 150px;
  padding: 20px;


}
